  body.forget-password-body {
    background: rgb(251, 255, 255);
    background-image: url('../../public/img/img4.jpg'); 
    background-size: cover;
    background-position: center;
  }

.ForgetPassword {
    height: 400px;
    width: 400px;
    backdrop-filter: blur(10px);
    color: #ffffffec;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    margin: 50px;
    border-radius: 10px;
    padding: 10px;
}

form {
    margin-top: 20px;
}


form .email1 {
    width: 300px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    background: rgba(250, 250, 250, 0.178);
    color: #f8f8f8be;
}

input::placeholder {
    color: #f8f8f8be;
    font-size: large;
    margin: 20px;
    padding: 20px;
}

.btn {
    width: 80%;
    background: rgba(250, 250, 250, 0.178);
    color: #f8f8f8be;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 33px;
}

.check1 {
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #f8f8f8be;
}

.account {
    padding: 30px;
    margin-left: 5px;
    text-align: center;
    color:#ffffffa4;
}
