/* الخلفية العامة للصفحة */
body.aboutus-body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/img4.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* طبقة شبه شفافة فوق الخلفية */
body.aboutus-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Header2 */
.header2 {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 50px;
}

/* العنوان الرئيسي */
.header2 h1 {
  font-size: 30px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  padding: 10px;

}
.header2 h1.fade-in {
  opacity: 1;
}
.header2 p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  text-align: center;
  padding: 10px;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.language-switcher button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content {
  align-items: center;
  gap: 20px;
  padding: 60px;
}
/* تصميم للهواتف المحمولة */
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    padding: 10px 0;
    text-align: center;
  }

  .toggle-btn {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  .header2 h1 {
    font-size: 24px;
  }

  .header2 p {
    font-size: 16px;
  }
}