body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: cadetblue;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Login{
    height:400px;
    width: 360px;
    backdrop-filter:blur(10px);
    color:#f8f8f8be;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,5);
    margin: 50px;
    border-radius: 10px;

    } 
form{
        margin-top:20px;
     }
 h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color:#f8f8f8be; 
}
form input{
    width: 270px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    background: rgba(250, 250, 250, 0.178);
    color:#f8f8f8be;
}
input::placeholder{
    color:#f8f8f8be;
    font-size: large;
    margin: 20px;
    padding: 20px;
}
.btn{
    width:80%;
}
#errorpass{
color: #ffffff;
margin: 5px;
padding: 5px;
text-align: center;
font-size: 20px;
}
.a{
    margin-left: 5px;
    padding: 5px;
    font-size: 15px;  
    text-align: center;
    color:#f8f8f8be;
}
.check{
    padding: 5px;
    margin-left: 5px;
    text-align: center;
    color:#f8f8f8be;
 } 
.newaccount{
        margin-left: 5px;
        padding: 5px;
        font-size: 13px;  
        text-align: center;
        color:#f8f8f8be;
}
.forget{
    margin-left: 5px;
    padding: 5px;
    font-size: 13px;  
    text-align: center;
    color:#f8f8f8be;
}