
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: cadetblue;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .rejist{
    height: 500px;
    width: 500px;
    backdrop-filter:blur(10px);
    color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,5);
    margin: 50px;
    border-radius: 10px;
} 
 form{
    margin-top:30px;
 }
 form input{
    width: 200px;
    padding: 5px;
    border-radius:10px;
    margin-top: 10px;
    margin: 15px;
    font-size: 20px;
    background: rgba(250, 250, 250, 0.178);
    color:#f8f8f8be;

}
.btn{
    width:50%;
    margin-left:25% ;
}
input::placeholder{
    color:#f8f8f8be;
    font-size: large;
    margin: 20px;
    padding: 20px;
}
input.Birthday{
    color:#f8f8f8be;
}
.check{
padding: 5px;
margin-left: 5px;
text-align: center;
color:#f8f8f8be;
}
.member{
    margin-left: 5px;
    padding: 10px;
    font-size: 15px;  
    text-align: center;
    color:#f8f8f8be;
}
h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color:#f8f8f8be; 
}